BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://verdict-hub-client.vercel.app
MONGODB_URI=
DB_NAME=verdictHub


NEXT_PUBLIC_APP_URL=https://verdict-hub-client.vercel.app
NEXT_PUBLIC_SERVER_URL=https://verdict-hub-server.vercel.app
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_IMGBB_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
